{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="container">
    <div class=" mt-4">
        <div class="form">
          <h3 class="text-center">Update profile</h3>
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {% form | crispy %}
            <div class="form-group">
              <input type="submit" class="btn btn-outline-info bg-info text-white" value="Update" />
            </div>
          </form>
        </div>
      </div>
</div>


{% block content %}