{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content%}
{{block.super}}
<div class="container mt-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <h1 class="text-center orange">Found {{order.count}} Order{{orders.count|pluralize}}</h1>
    {% for order in orders %}
    <div class="hood-cont p-2 card mt-3" >
        <div class="row">
            <div class="col-md-4">
                <img class="order-logo" src="{{order.order_logo.url}}" alt=" " height="200" width="320">
            </div>
            <div class="col-md-3">
                <h4 class="card-title">{{order.name|title}}</h4>
                <p>{{order.location}}</p>
            </div>
            <div class="col-md-3">
                <p class="card-text">{{order.description}}</p>
            </div>
            <div class="col-md-2 pt-3 pl-5">
                {% if request.user.profile.order == order %}
                <a href="{% url 'my_order' order.id %}" class="btn btn-outline-warning font-weight-bold btn-sm mb-2">VIEW order</a> 
                <a href="{% url 'leave_order' order.id %}" class="btn btn-outline-warning font-weight-bold btn-sm">LEAVE order</a> 
                {% elif not request.user.profile.order %}
                <a href="{% url 'my_order' order.id %}" class="btn join black font-weight-bold btn-sm">BOOK NOW</a> 
                {% endif %}
                {%if order.admin == current_user%}
                        <p class="ml-4 mt-5">
                            <a href="{% url 'update_order' order.id %}"><i class="fas fa-edit"></i></a>
                        </p>
                {%endif%}
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{%endblock%}